<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.academyreviewandrating">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/Theme.Design.NoActionBar">
        android:debuggable="true"
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            android:label="Registration"
        </activity>
        <activity
            android:name=".NavigationStartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_navigation_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Faculty_rank" />
        <activity android:name=".Faculty_view" />
        <activity android:name=".Course_Lacturer_rank" />
        <activity android:name=".ListViewCourseDetails" />
        <activity android:name=".WatchReviews" />
        <activity android:name=".ReviewTable" />
        <activity android:name=".CorseDetails" />
        <activity android:name=".ChatMain" />
        <activity android:name=".Courseparticipants" />
        <activity android:name=".ScheduleTable" />
        <activity android:name=".ReviewTableFaculty" />
        <activity android:name=".listViewCourseList"></activity>
    </application>

</manifest>